<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".cours.services.exemple2.Exemple2Activity"></activity>
        <activity android:name=".cours.services.exemple1.Exemple1Activity" />

        <service
            android:name=".cours.services.exemple1.IntentServiceExample"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".cours.threads.exemple6.Exemple6Activity" />
        <activity android:name=".cours.threads.exemple5.Exemple5Activity" />
        <activity android:name=".cours.threads.exemple4.Exemple4Activity" />
        <activity android:name=".cours.threads.exemple3.Exemple3Activity" />
        <activity android:name=".cours.threads.exemple2.Exemple2Activity" />
        <activity android:name=".cours.threads.exemple1.Exemple1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>